<div class=about2>
 <a id="about"></a>
 <section class="about-intro">
   <div class="container vcenter">
     <div class="row center-block">
       <div class="col-xs-12 text-center">
           
         <div class="content">
            <div class='col-xs-3 col-md-3'>    
                <img src="assets/Images/Bhagi1.jpeg" class="img-circle"  alt="Bhargavi"  >
              
             </div>
            <div class="content1" >
           <h1>Bhargavi R.</h1>
           <h2>Full stack Java Developer</h2>
          
           <p> I have serious passion for programming and developing.Like many,I started my carreer as junior java developer and DEVELOPED myself as a Full stack Java developer. 
            Overall I have around 6 years of experience and worked on 4 projects from enhancing the current project to end to end development.
           My fields of expertise are Java,Spring Framework,JDBC,Hibernate for <span style="color:blue;font-weight:bold">back-end</span>   HTML,CSS,JavaScript,Angular2 for <span style="color:blue;font-weight:bold">front-end</span> MySql,Oracle for <span style="color:blue;font-weight:bold">Database</span> </p>
         </div>
        </div>
       </div>
     </div>
   </div>
 </section>
 <div class="container">
	<div class="service-head one text-center">
						<h4>CONTACT ME</h4>
            <h3> TO GET <span>IN TOUCH WITH ME</span></h3>
            <br>
						<span class="border two"></span>
					</div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                      <h4>Contact By Email</h4>
                      <ul>
                        <li>Mail: <a href="mailto:bhargavir777@gmail.com">bhargavir777@gmail.com</a></li>
                      </ul>
              </div>
              <div class="col-sm-4" >
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <h4>Contact By Phone</h4>
                        <ul>
                          <li>Phone:+1 682-302-5492</li>
                      </ul>
              </div>
              <div class="col-sm-4">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <h4>Looking For Address</h4>
                        <ul>
                          <li>Address:1145 Hidden Ridge Apt 1155</li>
                          <li>Irving Texas.</li>
                        </ul>
              </div>
            </div>
          </div>
        </div>
      

