.about2{
background:#ebebeb;

}
section{
  margin-top: 50px;
  margin-bottom: 80px;
  background:#7d7d7d;

}

 @media (min-width: 768px) {
  section.about-intro img {
    width:250px;
    height:300px;
  }
  section.about-intro img {
    
     width:250px;
     height:300px;
   }
}

@media (max-width: 768px) {
 
  section.about-intro img {
    
     width:75px;
     height:100px;
   }
}
section.about-intro h1 {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(8, 8, 8);
  margin-top: 20px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section.home-intro h1 {
    font-size: 70px;
  }
}
section.about-intro h2 {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(218, 8, 53);
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section.home-intro h2 {
    font-size: 70px;
  }
}
section.about-intro p {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgb(8, 8, 8);
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section.home-intro h4 {
    font-size: 70px;
  }
}