            
            <section id="back">
            <div class="container">
        
                     <div class="row ">
                        
                            <div class="col-xs-8 pull-left" style="height:600px;background:white">
                                    <h1>Skills</h1>
                                    <div class="row">
                                            <div class="col-md-3 col-sm-6">
                                                <div class="progress black">
                                                    <span class="progress-left">
                                                        <span class="progress-bar1"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar1"></span>
                                                    </span>
                                                    <div class="progress-value1">90%</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <div class="progress blue">
                                                    <span class="progress-left">
                                                        <span class="progress-bar2"></span>
                                                    </span>
                                                    <span class="progress-right">
                                                        <span class="progress-bar2"></span>
                                                    </span>
                                                    <div class="progress-value2">86%</div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                    <div class="progress blue">
                                                        <span class="progress-left">
                                                            <span class="progress-bar3"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar3"></span>
                                                        </span>
                                                        <div class="progress-value3">82%</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                        <div class="progress blue">
                                                            <span class="progress-left">
                                                                <span class="progress-bar4"></span>
                                                            </span>
                                                            <span class="progress-right">
                                                                <span class="progress-bar4"></span>
                                                            </span>
                                                            <div class="progress-value4">90%</div>
                                                        </div>
                                                    </div>
                                                
                                        </div>
                                        <div class="row">
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="progress blue">
                                                        <span class="progress-left">
                                                            <span class="progress-bar5"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar5"></span>
                                                        </span>
                                                        <div class="progress-value5">75%</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <div class="progress blue">
                                                        <span class="progress-left">
                                                            <span class="progress-bar6"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar6"></span>
                                                        </span>
                                                        <div class="progress-value6">85%</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                        <div class="progress blue">
                                                            <span class="progress-left">
                                                                <span class="progress-bar7"></span>
                                                            </span>
                                                            <span class="progress-right">
                                                                <span class="progress-bar7"></span>
                                                            </span>
                                                            <div class="progress-value7">88%</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                            <div class="progress blue">
                                                                <span class="progress-left">
                                                                    <span class="progress-bar8"></span>
                                                                </span>
                                                                <span class="progress-right">
                                                                    <span class="progress-bar8"></span>
                                                                </span>
                                                                <div class="progress-value8">85%</div>
                                                            </div>
                                                        </div>
                                                    
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="progress blue">
                                                            <span class="progress-left">
                                                                <span class="progress-bar12"></span>
                                                            </span>
                                                            <span class="progress-right">
                                                                <span class="progress-bar12"></span>
                                                            </span>
                                                            <div class="progress-value12">80%</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="progress blue">
                                                            <span class="progress-left">
                                                                <span class="progress-bar9"></span>
                                                            </span>
                                                            <span class="progress-right">
                                                                <span class="progress-bar9"></span>
                                                            </span>
                                                            <div class="progress-value9">88%</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                            <div class="progress blue">
                                                                <span class="progress-left">
                                                                    <span class="progress-bar10"></span>
                                                                </span>
                                                                <span class="progress-right">
                                                                    <span class="progress-bar10"></span>
                                                                </span>
                                                                <div class="progress-value10">90%</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                                <div class="progress blue">
                                                                    <span class="progress-left">
                                                                        <span class="progress-bar11"></span>
                                                                    </span>
                                                                    <span class="progress-right">
                                                                        <span class="progress-bar11"></span>
                                                                    </span>
                                                                    <div class="progress-value11">88%</div>
                                                                </div>
                                                            </div>
                                                        
                                                </div>
                                        



        
                            </div>
                            <div class="col-xs-3 pull-right"  style="height:500px">
                                    
                                    <div class="row" style="height:250px;background:white">
                                            <div class="col-md-12col-sm-12">
                                                    <h2 class="heading">More Skills...</h2>
                                                    <aside class="languages aside section">
                                                            <div class="section-inner">
                                                               
                                                                <div class="content">
                                                                        <h5> To check out more of my skills,You can see my resume or download it</h5>
                                                                        <a href="https://drive.google.com/file/d/1JW-6yMqp4Eu7899AtZ-q4SXZOdUkdMwF" ><span class="glyphicon glyphicon-cloud-download" ></span><b> View or Download Resume</b></a>
                                                                           <h5>I am an active coder in Hacker rank and Leet Code</h5>
                                                                    
                                                                </div><!--//content-->
                                                            </div><!--//section-inner-->
                                                        </aside><!--//section-->
                                            </div>
                                         
                                           
                                    </div>  




                                    <div class="row" style="height:250px;background:white">
                                            <div class="col-md-12 col-sm-12">
                                                    <h2 class="heading">Languages</h2>
                                                    <aside class="languages aside section">
                                                            <div class="section-inner">
                                                               
                                                                <div class="content">
                                                                    <ul class="list-unstyled">
                                                                            <li class="item">
                                                                                    <span class="title"><strong>English:</strong></span>
                                                                                    <span class="level">Professional Proficiency <br> <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                                                                </li><!--//item-->
                                                                        <li class="item">
                                                                            <span class="title"><strong>Telugu:</strong></span>
                                                                            <span class="level">Native Speaker <br> <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                                                        </li><!--//item-->
                                                                        
                                                                    </ul>
                                                                </div><!--//content-->
                                                            </div><!--//section-inner-->
                                                        </aside><!--//section-->
                                            </div>
                                         
                                           
                                    </div>   
                                    
                                    
        
                            </div>
                        </div>
        
                       </div>

                    </section>



