<section id="resume" class="grey-section">
  <div class="row section-intro">
           <h1>Resume</h1>
           <h2>More of my credentials.</h2>
  
           <p class="lead">I had the privilege of working with all these companies and learned so many things while i am working.</p>
    		
       </div> <!-- /section-intro--> 
  
       <div class="row resume-timeline">
  
         <div class="col-twelve resume-header">
  
           <h2>Work Experience</h2>
  
         </div> <!-- /resume-header -->
  
         <div class="col-twelve">
  
           <div class="timeline-wrap">
            <style type="text/css">  
              .fa_custom1 {  
              color: rgb(219, 15, 59)  
              }  
              </style>
             <div class="timeline-block">
  
               <div class="timeline-ico">
                 <i class="fa fa-briefcase fa_custom1"></i>
               </div>
  
               <div class="timeline-header">
                 <h4>Full Stack Java Developer</h4>
                 <p>Oct 2016 - Till date</p>
               </div>
  
               <div class="timeline-content">
                 <h4>Fidelity Investments</h4>
                 <p>Working on the existed wealth Pro Application into further development.Involved in creating single page applications using angular2 for trading account details, entity beans in the middle tier and providing connectivity with the database at the backend.  </p>
               </div>
  
             </div> <!-- /timeline-block -->
             <style type="text/css">  
              .fa_custom2 {  
              color: rgb(9, 88, 192)  
              }  
              </style>
  
             <div class="timeline-block">
  
               <div class="timeline-ico">
                 <i class="fa fa-briefcase fa_custom2"></i>
               </div>
  
               <div class="timeline-header">
                 <h4>Java Developer</h4>
                 <p>Mar 2015 - Sep 2016</p>
               </div>
  
               <div class="timeline-content">
                 <h4>Wex Inc</h4>
                 <p>Worked on the AML "KYCS", a web-based intranet application designed to enable the consistent implementing of the Customer Due Diligence (CDD) section of client's Anti-Money Laundering policy across business units and global regions</p>
             </div>
  
             </div> <!-- /timeline-block -->
             <style type="text/css">  
              .fa_custom3 {  
              color: rgb(235, 14, 14)  
              }  
              </style>
  
             <div class="timeline-block">
  
               <div class="timeline-ico">
                 <i class="fa fa-briefcase fa_custom3"></i>
               </div>
  
               <div class="timeline-header">
                 <h4>Java Developer</h4>
                 <p>Nov 2013 - Feb 2015</p>
               </div>
  
               <div class="timeline-content">
                 <h4>UBS</h4>
                 <p>Worked on UBS Internal Project to migrate them from existing code and made improvements,updated the applications to match the latest industry standards.Co-ordinated both pre-migration testing and post-migration support with team based at the Data Center. </p>
               </div>
  
             </div> <!-- /timeline-block -->
             <style type="text/css">  
              .fa_custom4 {  
              color: rgb(241, 19, 123)  
              }  
              </style>
             <div class="timeline-block">
              
                           <div class="timeline-ico">
                             <i class="fa fa-briefcase fa_custom4"></i>
                           </div>
              
                           <div class="timeline-header">    
                             <h4>Junior Java Developer</h4>
                             <p>May 2012 - Oct 2013</p>
                           </div>
              
                           <div class="timeline-content">
                             <h4>American Family Insurance</h4>
                             <p>Worked on Portfolio view,an online apllication to enables the clients to access,review and update their products purchased from ASF and its subsidaries.The client can change/renew their insurance plan and they get monthly alerts. </p>
                           </div>
              
                         </div> <!-- /timeline-block -->
  
           </div> <!-- /timeline-wrap -->   			
  
         </div> <!-- /col-twelve -->
         
       </div> <!-- /resume-timeline -->
       
       <div class="row resume-timeline">
  
         <div class="col-twelve resume-header">
  
           <h2>Education</h2>
  
         </div> <!-- /resume-header -->
  
         <div class="col-twelve">
  
           <div class="timeline-wrap">
  
             <div class="timeline-block">
  
               <div class="timeline-ico">
                 <i class="fa fa-graduation-cap fa_custom fa-x"></i>
               </div>
  
               <div class="timeline-header">
                 <h4>Master's Degree</h4>
                 <p>August 2011 - May 2013</p>
               </div>
  
               <div class="timeline-content">
                 <h4>Purdue University Calumet,Hammond Indiana.</h4>
                 <p>Major: Computer Science GPA: 3.8</p>
               </div>
  
             </div> <!-- /timeline-block -->
             <style type="text/css">  
              .fa_custom {  
              color: #0099CC  
              }  
              </style>
  
             <div class="timeline-block">
  
               <div class="timeline-ico">
                 <i class="fa fa-graduation-cap fa_custom fa-x"></i>
               </div>
  
               <div class="timeline-header">
                 <h4>Bachelor's Degree</h4>
                 <p>Aug 2007 - May 2011</p>
               </div>
  
               <div class="timeline-content">
                 <h4>Jawaharlal Nehru Institute Of Technology</h4>
                 <p>Major: Computer Science GPA: 3.6</p>
               </div>
  
             </div> <!-- /timeline-block -->
  
             
  
           </div> <!-- /timeline-wrap -->   			
  
         </div> <!-- /col-twelve -->
         
       </div> <!-- /resume-timeline -->
      
    </section> <!-- /features -->
  