section {
    background: url('https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
  }
  section .content {
    padding-top: 220px;
    padding-bottom: 160px;
  }
  
  section.home-intro h2 {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: rgb(218, 8, 53);
    margin-top: 0;
    margin-bottom: 15px;
  }
  @media (min-width: 768px) {
    section.home-intro h2 {
      font-size: 70px;
    }
  }
  
  section.home-intro h3 {
    font-family: "Cantarell", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    margin-top: 0;
   
    display: inline-block;
  }
  @media (min-width: 768px) {
    section.home-intro h3 {
      font-size: 32px;
    }
  }